<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>404 Error - Page Not Found</title>
  <style>
    body {
      background-color: #f8f8f8;
      font-family: Arial, sans-serif;
      text-align: center;
    }

    .container-message {
      margin-top: 100px;
    }

    h1 {
      font-size: 48px;
      margin-bottom: 20px;
      color: #333333;
    }

    p {
      font-size: 24px;
      margin-bottom: 40px;
      color: #777777;
    }

    a {
      color: #0099ff;
      text-decoration: none;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a th:href="@{/}" class="nav-link">Home</a></li>
        <li class="nav-item"><a th:href="@{/about}" class="nav-link">About</a></li>
        <li class="nav-item"><a th:href="@{/pricing}" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a th:href="@{/cars}" class="nav-link">Cars</a></li>

        <li class="nav-item" th:if="${!isAuthenticated}"><a th:href="@{/auth/login}" class="nav-link">Log in</a></li>
        <li class="nav-item" th:if="${isAuthenticated}"><a th:href="@{/ride}" class="nav-link">Ride</a></li>
        <li class="nav-item" th:if="${isAuthenticated}"><a th:href="@{/profile}" class="nav-link">Profile</a></li>
        <li class="nav-item" th:if="${isAdmin}"><a th:href="@{/add-car}" class="nav-link">Add car</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-message">
  <h1>404 Error - Page Not Found</h1>
  <p th:text="${message}">Sorry, the page you are looking for does not exist.</p>
  <p><a th:href="@{/}">Go to Homepage</a></p>
</div>
</body>
</html>